.container {
  width: 100%;
  background-color: #ddd;
}

.react {width: 90%; background-color: blue; color:white;}
.node {width: 80%; background-color: blue;color:white;}
.cpp {width: 65%; background-color: blue; color:white;}
.aws {width: 60%; background-color: blue;color:white;}
